/*
 * Settings crucial for a proper canvas sizing
 */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#poc--typescript-web-game--canvas {
  width: 100%;
  height: 100%;
  /* TODO: Do I need to add anything more for a wide browser support of pixalated rendering? */
  image-rendering: pixelated;
}
